@model MovieCatalog.ViewModels.MovieFormViewModel
@{
    ViewData["Title"] = "Добавление/Редактирование фильма";
}

<h1>@ViewData["Title"]</h1>
@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}
<form action="@($"/{MovieCatalog.Controllers.CatalogController.ControllerName}/{Model.FormPostUrl}")" method="post">
    @if (Model.Movie != null)
    {
        <input type="hidden" name="id" value="@(Model.Movie.Id)" />
    }
    <input type="text" name="title" value="@(Model.Movie?.Title ?? "")" placeholder="Название" class="form-control" required />
    <input type="number" name="publishyear" value="@(Model.Movie?.PublishYear ?? 0)" placeholder="Год" class="form-control" required />
    <input type="text" name="producer" value="@(Model.Movie?.Producer ?? "")" placeholder="Режиссер" class="form-control" required />
    <textarea class="form-control" rows="3" name="content" placeholder="Описание...">@(Model.Movie?.Content ?? "")</textarea>
    <input type="hidden" name="coverurl" class="form-cover-url" />
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<div class="covers">
    @foreach (MovieCatalog.ViewModels.CoverFile cover in Model.Covers)
    {
        <div class="cover">
            <img src="@(cover.Url)" class="cover-img" alt="Изображение фильма" />
        </div>
    }
</div>