@model MovieCatalog.ViewModels.MoviesViewModel
@{
    ViewData["Title"] = "Каталог фильмов";
}

<h1>@ViewData["Title"]</h1>
@foreach (Movie movie in Model.Movies)
{
    <div class="movie">
        <img src="@movie.CoverUrl" alt="@movie.Title" />
        <div class="movie-info">
            <div class="title"><b>Название: </b>@movie.Title</div>
            <div class="year"><b>Год: </b>@movie.PublishYear</div>
            <div class="producer"><b>Режиссер: </b>@movie.Producer</div>
            <div class="content"><b>Описание: </b>@movie.Content</div>
            <div class="author"><b>Залил: </b>@movie.Author.Username</div>
        </div>
    </div>
}